<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- fonts -->
    <link rel="stylesheet" href="assets/css/arabic-converter.css" />
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="convert-to-cad-text">
      <div class="container">
        <div class="row justify-content-center justify-content-xl-between">
          <div class="right-dec col-12 col-md-10 col-lg-5  col-xl-5 order-lg-1">
            <img
              src="assets/images/convert-page/bg-right-dec.png"
              class="bg"
              alt=""
              />
            <img
              src="assets/images/convert-page/girl-with-computer.gif"
              alt=""
            />
          </div>
          <div class="col-12 col-md-10 col-lg-7 col-xl-6">
            <h3>
              <span class="blue">Arabic</span> to
              <span class="red">CAD Text</span> Converter
            </h3>
            <p>
              Convert Arabic letters to their English keyboard equivalents for
              correct appearance in AutoCAD and similar tools.
            </p>
            <div class="position-relative">
              <div class="input-text-div">
                <textarea
                  name="arabic-text"
                  id="arabic-text-area"
                  placeholder=" ادخل النص هنا......."
                  class="arabic-text-area"
                ></textarea>
                <button id="convert-btn" class="convert-btn">Convert</button>
                <img src="assets/images/convert-page/stars.png" alt="" />
              </div>
              <div class="converted-text-div">
                <textarea
                  name="converted-text"
                  id="converted-text-area"
                  class="converted-text-area"
                ></textarea>

                <button class="copy-btn">
                  <img src="assets/images/convert-page/copy-icon.png" alt="" />
                </button>
              </div>
              <div class="dec-div">
                <img
                  src="assets/images/convert-page/bg-left-dec.png"
                  class="dec-left-img"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
        <div class="logo-dec-bg">
          <img src="assets/images/convert-page/gree-hills-bg.png" alt="" />
        </div>
      </div>
    </div>

    <script src="assets/js/arabicToCadText.js"></script>
  </body>
</html>

<!-- <    position: absolute;
    bottom: 10%;
    right: -10%;
    z-index: -10;
    transform: rotate(51deg); -->