.convert-to-cad-text {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    margin-top: 100px;
    /* font-family: 'Poppins', sans-serif; */
}

.convert-to-cad-text h3 {
    font-size: 25px;
    font-weight: 400;
}

.convert-to-cad-text span.blue {
    color: #03A4ED;
}

.convert-to-cad-text span.red {
    color: #FF695F;
}

.convert-to-cad-text p {
    font-size: 15px;
    color: black;
    margin-block: 30px;
}

.convert-to-cad-text .converted-text-div,
.convert-to-cad-text .input-text-div {
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
    padding: 10px;
}

.convert-to-cad-text .converted-text-area,
.convert-to-cad-text .arabic-text-area {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 20px;
    direction: rtl;
    border-radius: 20px;
    border: 2px solid #e3eaf5;
    font-family: monospace;
    font-size: 1.1rem;
}

.convert-to-cad-text .converted-text-area:focus-within,
.convert-to-cad-text .arabic-text-area:focus-within {
    border-color: #9CC3FF;
    box-shadow: 0 0 10px 10px #E5F6FD;
}

.convert-to-cad-text .converted-text-div {
    margin-top: 40px;
}

.convert-to-cad-text .converted-text-area {
    padding-top: 25px;
    direction: ltr;
}

textarea::placeholder {
    font-size: 1.5rem;
}

textarea::-webkit-input-placeholder {
    font-size: 1.5rem;
}

textarea::-moz-placeholder {
    font-size: 1.5rem;
}

textarea:-ms-input-placeholder {
    font-size: 1.5rem;
}

textarea::-ms-input-placeholder {
    font-size: 1.5rem;
}

.convert-to-cad-text .converted-text-div .copy-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    outline: none;
    border: none;
    width: 35px;
}

.convert-to-cad-text .converted-text-div .copy-btn img {
    width: 100%;
}

.convert-to-cad-text .input-text-div button {
    position: absolute;
    bottom: 25px;
    left: 25px;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
    background-color: #03A4ED;
    border: 1px solid #03A4ED;
}

.convert-to-cad-text .input-text-div button:hover {
    color: white;
    background-color: #FF695F;
    border-color: #FF695F;
}

.convert-to-cad-text .input-text-div img {
    position: absolute;
    bottom: 20px;
    left: 130px;
    width: 100px;
}

.convert-to-cad-text .right-dec img:first-child {
    position: absolute;
    z-index: -10;
    right: 0%;
    max-height: 60vh;
    min-width: 40%;
}

.convert-to-cad-text .dec-div {
    position: absolute;
    z-index: -10;
    top: 0;
    left: -10%;
}

.convert-to-cad-text .logo-dec-bg {
    position: absolute;
    bottom: 10%;
    right: 10%;
    ;
    z-index: -10;
}

/* @media screen and (max-width:768px) {
    .convert-to-cad-text .right-dec {
        order: 10;
    }
} */

@media screen and (max-width:449px) {
    .convert-to-cad-text .right-dec img:last-child {
        width: 100%;

    }
}

/* .convert-to-cad-text .right-dec img:last-child {
        width: 100%;
        background-color: red;
    } */